

/* CSS */
.button-56 {
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-56:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #ffdeda;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}




.download svg polyline,.download svg line {
 animation: docs 1s infinite;
}

@keyframes docs {
 0% {
  transform: translateY(0%);
 }

 50% {
  transform: translateY(-15%);
 }

 100% {
  transform: translateY(0%);
 }
}



/* From uiverse.io by @alexruix */
.cardb {
 width: 400;
 height: 120;
 border-radius: 1em;
 padding: 1.9rem;
 background: #f5f5f5;
 position: relative;
 display: flex;
 align-items: flex-end;
 transition: 0.4s ease-out;
 box-shadow: 0px 7px 20px rgba(43, 8, 37, 0.2);
}







/*Button*/
.cardb-button {
 padding: 10px;
 outline: none;
 border: none;
 position: absolute;
  display: block;
  height: 60px;
  left: 0;
  width: 100%;
  position: absolute;
  bottom: -65px;
 border-radius: 15px;
 background: #242424;
 color: rgb(189, 25, 25);
 font-weight: bold;
 transition: 0.4s ease;
}

/*Image*/
.cardb-img {
 width: 100%;
 height: 100%;
 position: absolute;
 top: 0;
 left: 0;
 background: #165db9;
 background: linear-gradient(to bottom, #1395d1, #3077e2);
}

/*Hover*/
.cardb:hover {
 transform: translateY(5%);
}

.cardb:hover:before {
 opacity: 1;
}

.cardb:hover .card-info {
 opacity: 1;
 transform: translateY(0);
}

.cardb-button:hover {
 background: rgba(218, 77, 77, 0.4);
 color: #f5f5f5;
}


